
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.workspace-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 228, 228);
    border-radius: 2px;
    box-shadow: 0px 0px 9px -2px rgba(175, 163, 163, 0.75);
}

.workspace{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Workspace-list-body{
    display: flex;
    flex-direction: column;
}
@media(max-width:430px){
    .Workspace-list-body{
        width: 300px;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:330px){
    .Workspace-list-body{
        width: 250px;
        justify-content: center;
        align-items: center;
    }
    
}