*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.add-image-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-family: "Poppins", sans-serif;

}

.preview-image{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.add-image-title {
  font-weight: 600;
  color: #4a154b;
}

.add-image-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.file-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #e8f0fe;
  color: #4a154b;
  border: 2px solid #4a154b;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.file-label:hover {
  background: #4a154b;
  color: white;
}

.add-image-send-button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: #4a154b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease;
}

.add-image-send-button:hover {
  background:#9b439c;
}

.file-name {
  font-size: 0.9rem;
  color: #555;
}
