*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.spinner-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(173, 149, 243, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  border: 10px solid #ccc;
  border-top: 10px solid #611f69;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
.login-logo{
  margin-top: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}