*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chat-header-aside-right-block{
    width: 30%;
}
.chat-header-aside-left{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: start;
    height: 100%;
    gap: 10px;
    padding: 10px;
}
.chat-header-aside-right{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: end;
    height: 100%;
    gap: 10px;
    padding: 10px;
}
.h1-preuab{
    color: black;
    font-size: 50px;
}
---long{
width: 200px;
}

.chat-section-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    min-width: 0;
    background-color: white;
}
.chat-header-favorite{
color: black;
font-size: 20px;
}
.chat-header{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    align-items: center;
    width: 100%;
    height: 80px;
    justify-content: space-between;
}

.chat-header-channel{
    display: flex;
    color: black;
    font-size: 30px;
    font-size: 18PX;
}
.chat-header-favorite{
    display: flex;
    background-color: none;
    border-radius: 0;
    border: none;
    color: black;
}
.header-right{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex:4;
}

.chat-header-right-section-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 300px;
    justify-content: start;
    color: rgb(80, 79, 79);
    padding: 0;
    border: rgba(214, 212, 212, 0.541) 0.5px solid;
    background-color: white;
    padding: 10px;
}
.chat-header-right-section-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 30%;
    gap: 5px;
}
.chat-header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    font-size: 20px;
    color: rgb(65, 64, 64);
    padding: 0;
    border: rgba(214, 212, 212, 0.541) 0.5px solid;
    background-color: white;
}