*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

.a-into-button{
  text-decoration: none;
  display: inline-block;
  color: white;
}
.a-into-button:hover{
  text-decoration: none;
}

.verify-login-button {
  width: 100%;
  background-color: #4a154b;
  color: white;
  border: none;
  border-radius: var(--radius_buttons);
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  height: 42px;
  text-align: center;
  width: 220px;
}

.verify-login-button:hover {
  background-color: #611f69;
}

.login-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-login{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}
.login-container-button{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}