*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root{
    --color-ppal: #532755;
}

.delete-workspace-titulo{
    display: flex;
    justify-content: center;
    text-align: center;
}

button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    border-radius: 10px;
    border: #532755 1px solid;
    height: 35px;
    padding: 10px;
}
.delete-workspace-buttons-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding-top: 15px;
}
.container-delete-workspace{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    margin-top: 35px;
}
.delete-nombre-workspace{
    text-transform: uppercase;
      text-align: center;
}
.img-workspace{
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  object-fit: cover; 

}
.img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.delete-workspace-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color:var(--color-ppal) ;
    height: 100vh;

}

@media (max-width:500px) {
    .delete-workspace-titulo{
        font-size: 20px;
    }
    .delete-workspace-buttons-section{
        height: 100px;
    }
    .img-container{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .delete-button-icons{
        display: none;
    }

}
@media (max-width:380px) {

    .delete-workspace-titulo{
        font-size: 15px;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    .img-workspace{
        width: 80px; 
        height: 80px;
        }

    button{
        width: 40%;
        padding: 0;
    }
    
}