@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.--off{
    opacity: 0.4;
    pointer-events: none;    
}


:root{
    --dark_color:#401141;
    --lightercolor: #a087a0;
    --specialcolor: rgba(255, 255, 255, 0.192);
    --hovercolor: rgba(255, 255, 255, 0.3);
}
.workspace-chats{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 100%;

}
.workspace-component{
    display: flex;
    flex-direction: column;
    background-color:#401141;
    width: 100vw;
    height: 100vh;
}
.create-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #401141;
}
.workspaces-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:var(--dark_color);
    height: 35px;
}
.workspaces-header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.arrow-history{
    color: var(--lightercolor);
    font-size: 15px;
}
.history-view, .question-icon{
    color: #f5ebf5;
    font-size: 15px;
}
.workspace-search{
    width: 100%;
    margin: 5px 0px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.192);
    color: white;
    padding: 6px 28px 6px 6px;
    border: none;
    justify-content: space-between;
    height: 25px;
    font-size: 12px;
}
.workspace-search::placeholder {
  color: white;
}
.workspace-search:focus::placeholder {
  opacity: 0;
}
.workspace-search:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.workspace-history-arrows , .workspace-history-view{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 15px;
}
.history-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width:25%;
}
.nav-left{
    display: flex;
    flex-direction: row;
    width: 230px;
}
.workspace-search-button{
    right: 10px;
    position: absolute;
    color: white;
}
.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.question-container{
    padding: 10px;
}
.workspace-search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position:relative;
    height: 20px;
    width: 600px;
    padding-left: 20px;
}
.workspace-nav-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;

    background-color: var(--dark_color);
    gap: 15px;
    align-items: center;
}
.workspace-body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}
.workspace-icono{
    width: 40px;
    height: 40px;
    border-radius: 5px;

}

.workspace-nav-left-buttons-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: center
    ;
    gap: 10px;
}

.workspace-nav-left-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    transition: background-color 0.2s ease;

}
.workspace-icon-left-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: white;
}
.header-right{
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    padding-right: 10px;
}

.workspace-icon-left-nav-text{
    color: white;
    font-size: 10px;
}
.workspace-nav-left-inf-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    gap:    10px;
    height: 40%;
}
.--profile{
    padding-bottom: 50px;
}
.workspace-icon-left-nav-text-button{
    width: 25px;
    height: 25px;
    color: white;
    background:none;
    font-size: 15px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.workspace-nav-left-button-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}
.nav-inf-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--specialcolor);
}
.workspace-icon-left-nav-more{
    display: flex;
    font-size: 25px;
    width: 40px;
    opacity: 50%;
    color: white;
    background: none;
}
.--white{
    background-color:var(--hovercolor);
}
.workspace-nav-left-button:hover {
    background-color:var(--hovercolor);
    cursor: pointer;
}
.workspace-icon-left-nav{
    display: flex;
    height: 25px;
    width: 18px;
    text-align: center;
    color: white;
}
.workspace-icon-left-nav-span{
    display: flex;
    width: 40px;
    font-size: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3px;
    font-weight: 400;
}
.button-nav-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    gap: 5px;

}
.workspace-icon-left-nav:hover{
    width: 40px;
}

.nav-inf-section:hover{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 42px;
    height: 42px;
}

@media(max-width:900px){

    .workspace-history-arrows{
        justify-content: start;
        padding-left: 10px;
    }   
    .header-right{
        width: 150px;
    }
    .workspace-search-container{
        width: 500px;
    }
    .--profile{
        height: 40px;
    }
}

@media(max-width:750px){

    .workspace-search-container{
        width: 400px;
    }
    .header-right{
        width: 20px;
    }
}


@media(max-width:750px){

.workspace-history-arrows{
    width: 150px;
    font-size: 10px;
}

.workspace-search-container{
    padding: 0;
}
.workspace-history-arrows{
    padding: 5px;
}
}

@media(max-width:400px){
    .arrow-history{
        display: none;
    }
    .history-container{
        padding-left: 10px;
    }
    .nav-inf-section{
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .workspace-icon-left-nav{
        width: 15px;
        height: 15px;
    }
}