
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.await-confirm-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
}