@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root{
  ---buttons-colors: #542857a6
}
.--green{

  color: green;
}

.--red{

  color: rgb(255, 0, 0);
}

.admin-channel-delete-form-container{

  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.admin-channel-delete-form-buttons{
  display: flex;
  flex-direction: row;
  width: 100px;
}
.admin-channel-modify-buttons-container{
display: flex;
flex-direction: row;
width: 20%;
}

.admin-channel-modify-container{
  display: flex;
  flex-direction: row;
}
.admin-channel-dropdown-btn{
  width: 100%;
  height: 20px;
  text-align: start;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
  background-color: #542857a6;
  color: white;
}
.admin-channel-modify-form{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.admin-channel-rename-button{
  background: none;
  border: none;
}
.admin-channel-container
{
  margin-top: 10px;
  width: 70%;
  border: rgba(128, 128, 128, 0.342) 1px solid;
  border-radius: 5px;
  padding: 10px;

}
.admin-channel-slack-icon-container{
  display: flex;
  padding-top: 10px;
  width: 100%;
  height: 40px;
  justify-content: center;
}

.admin-channel-title-admin-channel{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
}
.admin-channel-img-workspace{
width: 40px;
height: 40px;
border-radius: 40px;
}
.admin-channel-data-workspace-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap:10px;
  height: 50px;
}
.subtitle-admin-channel{
    display: flex;
    color: black;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.admin-channel-button{
  background-color:var(---buttons-colors);
  color: white;
}
.admin-channel-data-container{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.admin-canales-canales-li{
  display: flex;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #54285744;
  color: whrgb(2, 2, 2)
}

.admin-channel-buttons{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  justify-content: start;
  margin: 0;
  padding-top: 10px;

}

.body-admin-channel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    height: 100vh;
    padding: 20px;
}
.title-admin-channel{

  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}